
.product__ul{
    display: flex;
    justify-content: flex-start;
}

.product__ul .box-product{
    flex-basis: 24%;
    width: 100%;
    box-sizing: border-box;
    margin-bottom:30px;
    border: 1px solid #bebebe;
    margin-left: 2px;
    margin-right: 2px;
    cursor: pointer;
}

.product__ul .box-produc:hover{
    border: 1px solid #bebebe;
    transition: 0.25s ease-in-out;
}
.product__ul .box-product a img{
    margin: auto;
    width: 100%;
    height: 300px;
    padding:0px;
}

.product__info a{
    text-decoration: none;
    color: black;
    text-align: center;
    margin: 1px auto;
    display: block;
    border-top: 1px solid #bebebe;
}

.items__name{
    font-size: 16px;
    color: rgb(56, 56, 56);
    margin-bottom: 30px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
    height: 20px;    
    font-weight: 800;
}

.main__sp--price p{
    text-align: center;
    font-weight: 600;
}

.main__sp--price div{
    margin-top: -15px;
    margin-left: 15px;
}

.product__ul li:hover{
    filter: opacity(90%);
}

.items__price{
    font-weight: 600;
}

.product__top img{
    display: block;
}
.product__top .buy__now{
    text-transform: uppercase;
    text-align: center;
    color: white;
    background-color: black;
    padding: 10px 0px;
    text-decoration: none;
    display: block;
    width: 100%;
    transition: 0.5s ease-in-out;
}

.fa-heart{
    margin-right:10px;
}

.main__sp--price i:hover{
    color: gray;
    cursor: pointer;
}
.products h3 {
    margin: 50px 0px;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 20px ;
    border: 1px solid #bebebe;
}
.leftSide{
    top:200px;
    /* bottom:100px; */
    z-index: 999;
}
@media only screen and (max-width:1300px ) {
   .product__ul li{
       flex-basis: 40%
   }
   .leftSide{
       display: none;
   }

}
.danhmuc{
    padding: 10px 0px;
    margin: 40px 35px 46px 35px !important;
    border: 1px solid #bebebe;
}
.page-item .page-link{
    color: black !important;
}
.page-item.active .page-link {
    background-color: #000000 !important;
    color: white !important;
    border: 1px solid #000000 !important;
}
