.cot1{
    height: 100vh;
    background-color: #212529;
    position: sticky;
    z-index: 999;
    top:0px;
}
.cot2{
    background-color:rgb(251, 251, 251)
}
.cot2 h1{
    font-family: 'Libre Baskerville', serif;
    font-weight: bolder;
}
.cot2 .btn{
    margin-right:10px;
}
.cot2 .table tr td{
    padding: 45px 0px;
}
.cot2 .table{
    width: 98%;
}
.cot2 .table tr td img{
    padding: 0px;
    margin:0px;
    width :50%;
}